{% extends "equipo/layout.html"%}
{% block styles %}
	<link rel="stylesheet" href="../../static/css/editar.css">
{% endblock %}
{% block content %}
	<main class="form">
		<h2 class="form__title">Editar perfil</h2>
		
		<div class="form__perfil">
			<form action="/api/v1/admin/editar/usuario" method="POST" autocomplete="off">
				<label class="form__label" for="nombre">
					<span>Nombre:</span>
					<input class="form__input" type="text" placeholder="Escriba tu nombre" name="nombre" value = "{{nombre}}" required >
				</label>
				<label class="form__label" for="correo">
					<span>Correo Electronico:</span>
					<input class="form__input" type="email" placeholder="Escriba su correo" name="email" value="{{correo}}" required>
				</label>

				<label class="form__label" for="password">
					<span>Contraseña:</span>
					<input class="form__input" type="password" placeholder="Escriba aqui su contraseña" name="password" required>
				</label>

				<button class="button--brown" type="submit">Enviar información</button>
			</form>
		</div>
	</main>
{% endblock %}