@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&family=Merriweather+Sans:wght@400;500;700&display=swap");
/* fuentes principales */
:root {
--fuente1: 'Merriweather', sans-serif;
--fuente2: 'Lato', sans-serif;


--white: #FFF;
--gray200: #E2E2E2;
--gray400: #545454;
--gray600: #141414;
--black: #0D0D0D;

--graymain: #8A99A6;
--graysecond: #C1CED9;
--brownlight: #F2EDDC;
--brown: #BF895A;
--browndark: #8C4830;

--red600: #80000B;
--red500: #AD000F;
--red400: #E60014;
--red300: #E64A57;
--red200: #E6737D;

--green600: #00801F;
--green500: #00A327;
--green400: #00BB2D;
--green300: #3CBB5A;
--green200: #5EBB74;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
html {
    font-size: 62.5%;
    font-family: "Lato", sans-serif;
    scroll-behavior: smooth;
    background-color: #8C4830;
    color: #FFF;
  }
  
body {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
  }
  
body::after {
    content: "";
    background: url("../assets/img/fondo_elart.jpg");
    background-position: center;
    opacity: 0.75;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.evaluacion__title {
    font-family: "Merriweather Sans", sans-serif;
    font-size: 3.7rem;
    font-weight: 800;
    color: var(--white);
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.evaluacion {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.evaluacion__form {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    margin: 0 auto;
    padding: 30px;
    background-color: rgba(191, 137, 90, .60);
    box-shadow: 0 4px 8px rgba(13, 13, 13, 0.7);
}

.form__label {
    display: block;
    width: 100%;
    margin-bottom: 30px;
}
.form__label span {
    font-size: 2.1rem;
    font-weight: 700;
    display: block;
    width: 100%;
    margin-bottom: 5px;
}
.form__input {
    display: block;
    width: 100%;
    height: 35px;
    margin-bottom: 20px;
    font-size: 2.1rem;
}
select {
    width: 100%;
    height: 35px;
    font-size: 2.1rem;      
}

input[type="textarea"] {
    margin: 10px 0 20px 0;
    width: 100%;
    height: 100px;
    font-size: 2.1rem;
}
input[type="textarea"]::placeholder {
    margin: 10px 0 20px 0;
    width: 100%;
    height: 100px;

}

.form__rate--dep p {
    font-size: 2.1rem;
    display: block;
    unicode-bidi: bidi-override;
}
.form__rate--empleado p {
    font-size: 2.1rem;
    display: block;
    unicode-bidi: bidi-override;
}

.form__rate--empleado__radio_input {
    display: none;
}

.form__rate--empleado__radio_label {
    font-size: 3rem;
    color: grey;
}

.form__rate--empleado__radio_label:hover,
.form__rate--empleado__radio_label:hover ~ .form__rate--empleado__radio_label {
  color: orange;
}

.form__rate--empleado__radio_input:checked ~ .form__rate--empleado__radio_label {
  color: orange;
}



.form__rate--dep__radio_input {
    display: none;
}

.form__rate--dep__radio_label {
    font-size: 3rem;
    color: grey;
}

.form__rate--dep__radio_label:hover,
.form__rate--dep__radio_label:hover ~ .form__rate--dep__radio_label {
  color: orange;
}

.form__rate--dep__radio_input:checked ~ .form__rate--dep__radio_label {
  color: orange;
}

.button {
    display: flex;
    justify-content: center;
    width: 100%;
}

.button--brown--form {
    width: 150px;
    height: 30px;
    padding: 5px;;
    background-color: #8C4830;
    border: 0;
    box-shadow: 0 4px 8px rgba(13, 13, 13, 0.7);
    cursor: pointer;
  }
.button--brown--form {
    font-size: 1.6rem;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #FFF;
  }
.button--brown--form:hover {
    background-color: #F2EDDC;
    border: 0;
    box-shadow: 0 4px 8px rgba(13, 13, 13, 0.7);
  }
.button--brown--form:hover {
    color: #8C4830;
  }